<div class="row-fluid">
  <span class='span2'></span>
  <span class='span12'>
    <h3>What is this?</h3>
    <p>
      This website looks through your Last.FM scrobble history to determine your most listened to albums in 2013.
      We then make a pretty looking page so you can see this list, and hopefully share it with your friends.
    </p>

    <h3>Who made it?</h3>
    <p>
      A guy named Clif Reeder. Hit him up on <%= link_to "Twitter", "http://twitter.com/clifreeder", :target => "_blank" %>,
      and maybe <%= link_to "check out his blog", "http://blog.clifreeder.com", :target => "_blank" %>.
      And of course, the source for this project is on <%= link_to "GitHub", "https://github.com/clifff/albums_of_the_year" , :target => "_blank" %>.
    </p>

  </span>
  <span class='span2'></span>
</div>
