<div class="row-fluid visible-desktop hidden-tablet hidden-phone">
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/93170409.jpg)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/93170409.jpg' class='hidden' alt=''/>
    <div class='inside'>
      <h3>San Fermin - San Fermin</h3>
      <h4>Listen on: <a href="http://www.rdio.com/search/San%20Fermin%20-%20San%20Fermin/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Rdio&#x27;);" target="_blank">Rdio</a>, <a href="https://play.spotify.com/search/San%20Fermin%20-%20San%20Fermin/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Spotify&#x27;);" target="_blank">Spotify</a>, <a href="http://www.youtube.com/results?search_query=San%20Fermin%20-%20San%20Fermin" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;YouTube&#x27;);" target="_blank">YouTube</a></h4>
    </div>
  </div>
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/94257157.jpg)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/94257157.jpg' class='hidden' alt=''/>
    <div class='inside'>
      <h3>Danny Brown - Old</h3>
      <h4>Listen on: <a href="http://www.rdio.com/search/Danny%20Brown%20-%20Old/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Rdio&#x27;);" target="_blank">Rdio</a>, <a href="https://play.spotify.com/search/Danny%20Brown%20-%20Old/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Spotify&#x27;);" target="_blank">Spotify</a>, <a href="http://www.youtube.com/results?search_query=Danny%20Brown%20-%20Old" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;YouTube&#x27;);" target="_blank">YouTube</a></h4>
    </div>
  </div>
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/92301853.png)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/92301853.png' class='hidden' alt=''/>
    <div class='inside'>
      <h3>Janelle Monáe - The Electric Lady</h3>
      <h4>Listen on: <a href="http://www.rdio.com/search/Janelle%20Mon%C3%A1e%20-%20The%20Electric%20Lady/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Rdio&#x27;);" target="_blank">Rdio</a>, <a href="https://play.spotify.com/search/Janelle%20Mon%C3%A1e%20-%20The%20Electric%20Lady/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Spotify&#x27;);" target="_blank">Spotify</a>, <a href="http://www.youtube.com/results?search_query=Janelle%20Mon%C3%A1e%20-%20The%20Electric%20Lady" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;YouTube&#x27;);" target="_blank">YouTube</a></h4>
    </div>
  </div>
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/84359875.png)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/84359875.png' class='hidden' alt=''/>
    <div class='inside'>
      <h3>Autre Ne Veut - Anxiety</h3>
      <h4>Listen on: <a href="http://www.rdio.com/search/Autre%20Ne%20Veut%20-%20Anxiety/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Rdio&#x27;);" target="_blank">Rdio</a>, <a href="https://play.spotify.com/search/Autre%20Ne%20Veut%20-%20Anxiety/" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;Spotify&#x27;);" target="_blank">Spotify</a>, <a href="http://www.youtube.com/results?search_query=Autre%20Ne%20Veut%20-%20Anxiety" onClick="trackOutboundLink(this, &#x27;Outbound Links&#x27;, &#x27;YouTube&#x27;);" target="_blank">YouTube</a></h4>
    </div>
  </div>
</div>
<div class="row-fluid">
  <span class='span2'></span>
  <span class='span12'>
    <p></p>
    <form class='form-inline' onSubmit='submitUsername(); return false' >
      <fieldset>
        <legend>
          Want to find out what albums you listened to the most in 2013? Just type in your <%= link_to "Last.fm", "http://www.last.fm/" %>
          username and we'll figure it out for you.
        </legend>
        <input type="text" placeholder="last.fm username" name='username' required id='username_field'>
        <button type="submit" class="btn" >Submit</button>
      </fieldset>
    </form>
  </span>
  <span class='span2'></span>
</div>
<div class="row-fluid">
  <span class='span2'></span>
  <span class="help-block"><%= link_to "Curious or impatient? Check out an example.", lastfm_bestof_url(:username => 'clifff') %></span>
  <span class='span2'></span>
</div>
