<div class="row visible-desktop hidden-tablet hidden-phone">
  <%= render :partial => 'album', :collection => @albums %>
</div>
<div class="row">
  <span class='col-md-2'></span>
  <span class='col-md-12'>
    <p></p>
    <form class='form-inline' onSubmit='submitUsername(); return false' >
      <fieldset>
        <legend>
          Want to find out what new albums you listened to the most in <%= YEAR %>? Just type in your <%= link_to "Last.fm", "http://www.last.fm/" %>
          username and we'll figure it out for you.
        </legend>
        <input type="text" placeholder="last.fm username" name='username' required id='username_field'>
        <button type="submit" class="btn" >Submit</button>
      </fieldset>
    </form>
  </span>
  <span class='col-md-2'></span>
</div>
<div class="row">
  <span class='col-md-2'></span>
  <span class="help-block col-md-12"><%= link_to "Curious or impatient? Check out an example.", lastfm_bestof_url(:username => 'clifff') %></span>
  <span class='col-md-2'></span>
</div>
