<div class="row-fluid visible-desktop hidden-tablet hidden-phone">
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/73293934.png)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/73293934.png' alt='' class='hidden'/>
    <div class='inside'>
      <h3>Grimes - Visions</h3>
    </div>
  </div>
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/81756565.png)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/81756565.png' alt='' class='hidden'/>
    <div class='inside'>
      <h3>Tame Impala - Lonerism</h3>
    </div>
  </div>
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/77780776.png)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/77780776.png' alt='' class='hidden'/>
    <div class='inside'>
      <h3>Japandroids - Celebration Rock</h3>
    </div>
  </div>
  <div style='background-image:url(http://userserve-ak.last.fm/serve/300x300/76019282.png)' class='span4 albumart'>
    <img src='http://userserve-ak.last.fm/serve/300x300/76019282.png' alt='' class='hidden'/>
    <div class='inside'>
      <h3>Chromatics - Kill For Love</h3>
    </div>
  </div>
</div>
<div class="row-fluid">
  <span class='span2'></span>
  <span class='span12'>
    <p></p>
    <form class='form-inline' onSubmit='submitUsername(); return false' >
      <fieldset>
        <legend>
          Want to find out what new albums you listened to the most in 2013? Just type in your <%= link_to "Last.fm", "http://www.last.fm/" %>
          username and we'll figure it out for you.
        </legend>
        <input type="text" placeholder="last.fm username" name='username' required id='username_field'>
        <button type="submit" class="btn" >Submit</button>
      </fieldset>
    </form>
  </span>
  <span class='span2'></span>
</div>
<div class="row-fluid">
  <span class='span2'></span>
  <span class="help-block"><%= link_to "Curious or impatient? Check out an example.", lastfm_bestof_url(:username => 'clifff') %></span>
  <span class='span2'></span>
</div>
