<% @albums.each_slice(4) do |album_chunk| %>
  <div class="row-fluid">
    <% album_chunk.each do |album| %>
      <% image = album['image'].detect{|i| i['size'] == 'extralarge'} %>
      <div style='background-image:url(<%= image['#text'] %>)' class='span4 albumart'>
        <%# do this so facebook picks up on the album art %>
        <img src='<%= image['#text'] %>' class='hidden' alt=''/>
        <div class='inside'>
          <%= content_tag :h3, "#{album['artist']} - #{album['name']}" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
