<div class="row">
  <span class='col-md-2'></span>
  <span class='col-md-12'>
    <h3>404 - Sorry, no Last.fm records found for <%= @username %></h3>
  </span>
  <span class='col-md-2'></span>
</div>
